<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="address">
                        <h4>GÖSTERİLERİN ADRESİ</h4>
                        <hr>
                        <span>
                        {{adres}}</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="links">
                        <h4>HIZLI LİNKLER</h4>
                        <hr>
                        <ul>
                            <li><a href="{% url 'main:homepage' %}">ANASAYFA</a></li>
                            <li><a href="{% url 'main:etkinlikler_sayfasi' %}">ETKİNLİKLER</a></li>
                            <li><a href="{% url 'main:galeri' %}">GALERİ</a></li>
                            <li><a href="{% url 'main:duyurular' %}">DUYURULAR</a></li>
                            <li><a href="{% url 'main:iletisim' %}">İLETİŞİM</a></li>
                            <li><a href="{% url 'main:hakkimizda' %}">HAKKIMIZDA</a></li>
                        </ul>
                     

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="hours">
                        <h4>GENEL BİLGİLER</h4>
                        <ul>
                            <li>HERGÜN : 09.00  -  00.00</li>
                            <li><a style="color: white;" href="tel:{{numara}}">Telefon Numaramız</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <p></p>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <p style="color: white !important;" class="copyright">
                                <b><i> <a style="color: black;" href="https://www.instagram.com/muh.habip_elis/">HABİP ELİŞ Copyright 2025</a>  </i></b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="logo"><span>HUMAN<em>SAHNE</em></span></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="menu">
                                    <ul>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="social-links">
                                    <ul>

                                        
                                        <li><a href="{{sosyalmedyaInsgr}}"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>