<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="address">
                        <h4>GÖSTERİLERİN ADRESİ</h4>
                        <hr>
                        <span>
                        Şerefiye, Kültür Sk.<br> No:16/3, 65100 <br> İpekyolu/Van</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="links">
                        <h4>HIZLI LİNKLER</h4>
                        <hr>
                        <ul>
                            <li><a href="#">ANASAYFA</a></li>
                            <li><a href="#">ETKİNLİKLER</a></li>
                            <li><a href="#">GALERİ</a></li>
                            <li><a href="#">DUYURULAR</a></li>
                            <li><a href="#">İLETİŞİM</a></li>
                            <li><a href="#">HAKKIMIZDA</a></li>
                        </ul>
                     

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="hours">
                        <h4>AÇILIŞ SAATLERİ</h4>
                        <ul>
                            <li>HERGÜN : 09.00  -  12.00</li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <p></p>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <p style="color: white !important;" class="copyright">
                                <b><i>HABİP ELİŞ Copyright 2022 </i></b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="logo"><span>HUMAN<em>SAHNE</em></span></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="menu">
                                    <ul>
                                        <li><a href="index.html" class="active">Home</a></li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="rent-venue.html">Rent Venue</a></li>
                                        <li><a href="shows-events.html">Shows & Events</a></li> 
                                        <li><a href="tickets.html">Tickets</a></li> 
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="social-links">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>