{% extends "admin_leyout.html" %}
{% block content %}
<div class="container">
    <h2>Açıklama</h2>
    <ul>
        {% for item in aciklama %}
        <li>{{ item.footer_aciklama }} - <a href="{% url 'update_model' 'aciklama' item.id %}">Düzenle</a> - <a href="{% url 'delete_model' 'aciklama' item.id %}">Sil</a></li>
        {% endfor %}
    </ul>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">Açıklama Ekle</button>
</div>

<!-- Create Modal -->
<div class="modal" id="createModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Açıklama Ekle</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" action="{% url 'create_model' 'aciklama' %}">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form }}
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-success">Ekle</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
