{% extends "homebase.html" %}
{% load static %}
{% block header %}
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">HUMAN<em>SAHNE</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="{% url 'main:homepage' %}" > <b><i>ANASAYFA</i></b> </a></li>
                            <li><a href="{% url 'main:etkinlikler_sayfasi' %}"><b><i>ETKİNLİKLER</i></b></a></li>
                            <li><a href="{% url 'main:galeri' %}"><b><i>GALERİ</i></b></a></li>
                            <li><a class="active" href="{% url 'main:duyurular' %}"><b><i>DUYURULAR</i></b></a></li> 
                            <li><a href="{% url 'main:iletisim' %}"><b><i>İLETİŞİM</i></b></a></li> 
                            <li><a href="{% url 'main:hakkimizda' %}"><b><i>HAKKIMIZDA</i></b></a></li> 
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
{% endblock header %}
{% block sidebar %}
<!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-content">
                        <div class="next-show">
                            
                            
                        </div>
                       
                        <h2>DUYURULAR</h2>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

{% endblock sidebar %}
{% block content %}

    <div class="shows-events-tabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="tabs">
                        <div class="col-lg-12">
                            <div class="heading-tabs">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <ul>
                                          <li><a href='#tabs-1'></a></li>
                                         
                                        </ul>
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <section class='tabs-content'>
                                <article id='tabs-1'>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="heading"><h2>Duyurular</h2></div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="sidebar">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="heading-sidebar">
                                                            <h4>Duyuru Kategorileri :</h4>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="month">
                                                          
                                                            <ul>
                                                            {% for i in duyuru_kategorileri %}
                                                                <li><a href="?kategori={{i.slug}}">{{i.title}}</a></li>
                                                            {% endfor %}
                                                              
                                                            </ul>
                                                        </div>
                                                    </div>
                                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="row">
                                            {% for i in duyurular %}
                                                <div class="col-lg-12">
                                                    <div class="event-item">
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="left-content">
                                                                    <h4>{{ i.title }}</h4>
                                                                    <p>{{ i.subtitle }}</p>
                                                                    <div class="main-dark-button"><a href="{% url 'main:duyuru_detay' i.series.slug i.article_slug %}">Daha Fazla</a></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="thumb">
                                                                {% if i.duyuru_resmi %}
                                                                    <img src="{{ i.duyuru_resmi.url }}" alt="">
                                                                {% else %}
                                                                {% endif %}
                                                                    
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="right-content">
                                                                    <ul>
                                                                        <li>
                                                                            <i class="fa fa-clock-o"></i>
                                                                            <h6>{{ i.published|date:"d M Y" }}<br>{{ i.published|date:"H:i" }}</h6>
                                                                        </li>
                                                                        <li>
                                                                            <i class="fa fa-user"></i>
                                                                            <span>{{ i.series.title }}</span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </article>                            
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}