{% extends "homebase.html" %}
{% load static %}
{% load custom_filters %}
{% block header %}
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">HUMAN<em>SAHNE</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="{% url 'main:homepage' %}" > <b><i>ANASAYFA</i></b> </a></li>
                            <li><a class="active" href="{% url 'main:etkinlikler_sayfasi' %}"><b><i>ETKİNLİKLER</i></b></a></li>
                            <li><a href="{% url 'main:galeri' %}"><b><i>GALERİ</i></b></a></li>
                            <li><a  href="{% url 'main:duyurular' %}"><b><i>DUYURULAR</i></b></a></li> 
                            <li><a href="{% url 'main:iletisim' %}"><b><i>İLETİŞİM</i></b></a></li> 
                            <li><a href="{% url 'main:hakkimizda' %}"><b><i>HAKKIMIZDA</i></b></a></li> 
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
{% endblock header %}
{% block sidebar %}

{% endblock sidebar %}
{% block content %}

<div class="ticket-details-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="left-image">
                        <img src="{{etkinlik.etkinlik_resim.url}}" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="right-content">
                        <h4>{{etkinlik.etkinlik_adi}}</h4>
                        <span>Bilet Sayısı {{etkinlik.etkinlik_katitim_sayisi}}</span>
                        <ul>
                            <li><i class="fa fa-clock-o"></i> {{etkinlik.etkinlik_tarihi}}</li>
                            <li><i class="fa fa-map-marker"></i>{{etkinlik.etkinlik_yeri}}</li>
                            <li> <b>Organizatör : {{etkinlik.etkinlik_organizator}}</b> </li>
                        </ul>
                        <form method="post" action="{% url 'main:sepet' %}">
                            {% csrf_token %}
                            <input type="hidden" name="etkinlik_id" value="{{ etkinlik.id }}">
                            <input type="hidden" name="selected_seats" id="selected_seats" value="">
                            <input type="hidden" name="total_price" id="total_price" value="{{etkinlik.etkinlik_fiyati}}">
                            <div class="quantity-content">
                                {% if etkinlik.etkinlik_tarihi|date:"U" < now|date:"U" %}
                                {% else %}
                                    {% if remaining_tickets > 0 %}
                                        <div class="quantity-content">
                                            {% if etkinlik.koltuk_duzeni_var_mi %}
                                            {% else %}
                                            <div class="quantity buttons_added">
                                                <input type="button" value="-" class="minus" onclick="updateQuantity(-1)">
                                                <input type="number" step="1" min="1" max="{{ remaining_tickets }}" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="" id="quantity">
                                                <input type="button" value="+" class="plus" onclick="updateQuantity(1)">
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="total">
                                            <h4>Toplam: <span id="toplam_fiyat">0 ₺</span></h4>
                                            <button type="submit" style="background-color: black; color: white;" class="main-dark-button" id="satin_al_button">SATIN AL</button>
                                        </div>
                                    {% else %}
                                        <div class="alert alert-danger" role="alert">
                                            Bu etkinlik için biletler tükenmiştir.
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </form>
                        <div class="warn">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if etkinlik.etkinlik_tarihi|date:"U" < now|date:"U" %}
   
{% else %}
   
{% if etkinlik.koltuk_duzeni_var_mi %}
<div class="seating-arrangement">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                    {% oturma_duzeni as deger %}
                    <tr>
                        {% for row in deger %}
                        {% if  row == "-1" %}
                            </tr>
                            <tr>
                        {% endif %}
                        {% if row != "-2" and row != "-1" and row != "0" and row != "-3" and row != "-4"  %}
                            {% etkinlik_koltuk_satin_alinma_durumu etkinlik.id row as sonuc %}
                            {% koltuk_fiyati etkinlik.id row as fiyat %}
                            {% if sonuc %}
                                <td class="seat" style="background-color: #b70505;">
                            
                                {{ row }}
                            </td>
                            {% else %}
                            <td class="seat" style="background-image: url('{% static 'assets/images/seat.png' %}'); background-size: cover;">
                                <input type="checkbox" class="seat-checkbox" value="{{ row }}" data-price="{{ fiyat }}" onclick="updateSeatSelection(this)">
                                {{ row }} - {{ fiyat }} ₺
                            </td>
                            {% endif %}
                            
                        {% elif  row == "-2" %}
                        <td rowspan="2" colspan="4" style="text-align:center; background-image: url('https://www.berryalloc.com/-/media/sites/berryalloc/general/parquet/chateau-737x415px.ashx?h=415&w=737&la=tr-TR&hash=4F20AE50F2B9F7EBCE809E9B9139C9F7'); background-size: cover; background-position: center;" >
                            <b>SAHNE</b>
                        </td>
                        {% elif  row == "0" %}
                        <td rowspan="4" colspan="1"  >
                            
                        </td>
                        {% elif  row == "-3" %}
                        <td style="background-color: black;">
                           
                            
                        </td>
                        {% elif  row == "-4" %}
                        <td >         
                        </td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
{% endif %}


    <div class="ticket-details-page">
        <div class="container">
            <div class="row">
              <div class="col-12">
                {{etkinlik.etkinlik_bilgilendirmesi |safe}}
              </div>
            </div>
        </div>
    </div>
    {% endif %}


{% if etkinlik.koltuk_duzeni_var_mi %}


<script>
    document.addEventListener('DOMContentLoaded', function() {
        let selectedSeats = [];

        window.updateQuantity = function(change) {
            const quantityInput = document.getElementById('quantity');
            let quantity = parseInt(quantityInput.value);
            quantity = isNaN(quantity) ? 1 : quantity;
            quantity += change;
            if (quantity < 1) {
                quantity = 1;
            } else if (change < 0 && selectedSeats.length > 0) {
                const seatValue = selectedSeats.pop();
                document.querySelector(`.seat-checkbox[value="${seatValue}"]`).checked = false;
            }
            quantityInput.value = quantity;
            updateTotalPrice();
        }

        window.updateSeatSelection = function(checkbox) {
            const seatValue = parseInt(checkbox.value);
            if (checkbox.checked) {
                selectedSeats.push(seatValue);
            } else {
                selectedSeats = selectedSeats.filter(seat => seat !== seatValue);
            }
            const quantityInput = document.getElementById('quantity');
            if (quantityInput) {
                quantityInput.value = selectedSeats.length;
            }
            updateTotalPrice();
        }

        function updateTotalPrice() {
            let totalPrice = 0;
            selectedSeats.forEach(seat => {
                const seatCheckbox = document.querySelector(`.seat-checkbox[value="${seat}"]`);
                const seatPrice = parseFloat(seatCheckbox.getAttribute('data-price'));
                totalPrice += seatPrice;
            });
            document.getElementById('toplam_fiyat').innerText = totalPrice.toFixed(2) + ' ₺';
            document.getElementById('selected_seats').value = selectedSeats.join(',');
            document.getElementById('total_price').value = totalPrice.toFixed(2);
            document.getElementById('satin_al_button').disabled = selectedSeats.length === 0;
        }
    });
</script>
{% else %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const ticketPrice = parseFloat("{{etkinlik.etkinlik_fiyati}}");
        const remainingTickets = {{ remaining_tickets }};

        window.updateQuantity = function(change) {
            const quantityInput = document.getElementById('quantity');
            let quantity = parseInt(quantityInput.value);
            quantity = isNaN(quantity) ? 1 : quantity;
            quantity += change;
            if (quantity < 1) {
                quantity = 1;
            } else if (quantity > remainingTickets) {
                quantity = remaining_tickets;
            }
            quantityInput.value = quantity;
            updateTotalPrice();
        }

        function updateTotalPrice() {
            const quantity = parseInt(document.getElementById('quantity').value);
            const totalPrice = ticketPrice * quantity;
            document.getElementById('toplam_fiyat').innerText = totalPrice.toFixed(2) + ' ₺';
            document.getElementById('total_price').value = totalPrice.toFixed(2);
            document.getElementById('satin_al_button').disabled = quantity === 0 || quantity > remainingTickets;
        }

        updateTotalPrice();
    });
</script>
{% endif %}
{% endblock content %}