{% extends "homebase.html" %}
{% load static %}

{% block sidebar %}
<!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-content">
                        <div class="next-show">
                            
                            
                        </div>
                        <h6>ETKİNLİKLERİ GÖRMEK İÇİN TIKLAYINIZ ...</h6>
                        <h2>HUMAN SAHNE ETKİNLİKLERİ</h2>
                        <div class="main-white-button">
                            <a href="{% url 'main:etkinlikler_sayfasi' %}">ETKİNLİKLER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- *** Owl Carousel Items ***-->
    <div class="show-events-carousel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-show-events owl-carousel">
                    {% for i in etkinlikler %}
                    <div class="item">
                            <a href="{% url 'main:etkinlik_detay' i.id i.etkinlik_linki %}"><img src="{{i.etkinlik_resim.url}}" alt=""></a>
                        </div>
                    {% endfor %}
                        

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock sidebar %}

{% block content %}
    <!-- *** Venues & Tickets ***-->
    <div class="venue-tickets">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Etkinlikler & Biletler</h2>
                    </div>
                </div>
                {% for i in son_3_etkinlik %}
                    <div class="col-lg-4">
                    <div class="venue-item">
                        <div class="thumb">
                            <img src="{{ i.etkinlik_resim.url}}" alt="">
                        </div>
                        <div class="down-content">
                            <div class="left-content">
                                <div class="main-white-button">
                                {% if i.etkinlik_tarihi|date:"U" < now|date:"U" %}
                                        <a href="{% url 'main:etkinlik_detay' i.id i.etkinlik_linki %}">Yorum Yap</a>
                                    {% else %}
                                       <a href="{% url 'main:etkinlik_detay' i.id i.etkinlik_linki %}">Bilet Al</a>
                                    {% endif %}
                                    
                                </div>
                            </div>
                            <div class="right-content">
                                <h4>{{i.etkinlik_adi}}</h4>
                                <p>{{i.etkinlik_aciklama | safe}}</p>
                                <ul>
                                <li><i class="fa fa-calendar "></i>
                                {% if i.etkinlik_tarihi|date:"U" < now|date:"U" %}
                                <span style="color: black !important;">{{i.etkinlik_tarihi}} </span>
                                {% else %}
                                    {{i.etkinlik_tarihi}}
                                {% endif %}
                                </li>
                                    
                                    <li><i class="fa fa-user"></i>{{i.etkinlik_katitim_sayisi}}</li>
                                </ul>
                                <ul>
                                <li>
                                <i class="fa fa-map-marker "></i>{{i.etkinlik_yeri}}</li>
                                </ul>
                                <div class="price">
                                    {% if i.etkinlik_tarihi|date:"U" < now|date:"U" %}
                                    <span>Etkinlik Hakkında Yorumlarınızı Bekliyoruz </span>
                                    {% else %}
                                    <span>1 Bilet <br>Fiyatı <em>{{i.etkinlik_fiyati}} ₺</em></span>
                                    {% endif %}
                                    
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                {% endfor %}
                

            </div>
        </div>
    </div>



    <!-- *** Coming Events ***-->
    <div class="coming-events">
        <div class="left-button">
            <div class="main-white-button">
                <a href="{% url 'main:duyurular' %}">DAHA FAZLA</a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for duyuru in son_3_duyuru %}
                <div class="col-lg-4">
                    <div class="event-item">
                        <div class="thumb">
                            <a href="{% url 'main:duyuru_detay' duyuru.series.slug duyuru.article_slug %}">
                                {% if duyuru.duyuru_resmi %}
                                <img src="{{ duyuru.duyuru_resmi.url }}" alt="">
                                {% else %}
                                <img src="{% static 'assets/images/default-announcement.jpg' %}" alt="">
                                {% endif %}
                            </a>
                        </div>
                        <div class="down-content">
                            <a href="{% url 'main:duyuru_detay' duyuru.series.slug duyuru.article_slug %}"><h4>{{ duyuru.title }}</h4></a>
                            <ul>
                                <li><i class="fa fa-clock-o"></i> {{ duyuru.published }}</li>
                                <li><i class="fa fa-map-marker"></i> {{ duyuru.series.title }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}